extends layout

block content
    style(type='text/css').
        div.alert{
            margin-top: 20px;
        }
        div.alert ul{
            margin-bottom: 0;
        }

    div.row
        div.col-md-4.col-md-offset-4
            if hasErrors
                div.alert.alert-danger
                    ul
                        each message in messages
                            li=message

            h1 Sign In
            form(method='post' action='/user/signin')
                div.form-group
                    label(for='email') E-mail
                    input.form-control(type='email' id='email' name='email')
                div.form-group
                    label(for='password') Password
                    input.form-control(type='password' id='password' name='password')
                input(type='hidden' name='_csrf' value=csrfToken)
                button.btn.btn-primary(type='submit') Sign In