extends layout

block content
    div.row
        div.col-md-4.col-md-offset-4
            p validation errors
            h1 Sign Up
            form(method='post' action='/signup')
                div.form-group
                    label(for='email') E-mail
                    input.form-control(type='email' id='email' name='email')
                div.form-group
                    label(for='password') Password
                    input.form-control(type='password' id='password' name='password')
                input(type='hidden' name='_csrf' value=csrfToken)
                button.btn.btn-primary(type='submit') Sign Up