* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    background-color: #d71c24;
    padding: 8px 0 0;
}

.main-logo {
    text-indent: -1000em;
    background: url(../../images/allen-logotype.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 200px;
    height: 35px;
    margin: auto;
}

.main-content,
.promo_description {
    line-height: 175%;
}

.main-content p {
    margin: 30px 0;
}

.inner-body {
    width: 100%;
}

.primary-section {
    background-color: #eee;
    padding: 87px 0 32px 0;
}

.secondary-section {
    background-color: #fff;
    padding: 18px 0;
}

.hero-image {
    width: 100%;
}

.input--text {
    background: rgba(138, 138, 138, 0.7);
    border: none;
    outline: none;
    padding: 18px 12px;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 4px 0;
}

::-webkit-input-placeholder {
    color: white !important;
    font-weight: bold;
}

.btn--primary {
    background-color: #d71c24;
    color: white;
    display: inline-block;
    padding: 12px 44px;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    text-decoration: none;
}

.btn--secondary {
    background-color: #000;
    color: white;
    display: inline-block;
    padding: 12px 44px;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    text-decoration: none;
}

.btn--primary, .btn--secondary {
    text-transform: uppercase;
}

.btn--primary:hover {
    background-color: black;
    color: white;
}

.btn--secondary:hover {
    background-color: #827f7f;
}

.h1 {
    color: black;
    font-size: 30px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.h2,
.promo_name{
    color: #505050;
    font-size: 22px;
    margin: 0 0 8px 0;
    text-align: center;
    text-transform: uppercase;
}

.content-body {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 140%;
}

.emotive-panel {
    background: #f0ecec;
    padding: 35px 0;
}

.promo_title {
    color: #252525;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
    font-weight: bolder;
    font-size: 24px;
}

.promo_subtitle {
    color: #d71c24;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.promo_image {
    width: 100%;
}

.cta_headline {
    font-size: 24px;
    font-weight: bolder;
    color: #252525;
    text-transform: uppercase;
}

.cta_context {
    font-size: 16px;
    line-height: 140%;
    color: #827f7f;
    margin-bottom: 12px;
}

.designs_header {
    text-transform: uppercase;
    text-align: center;
}

.designs_header.h1 {
    margin-bottom: 0;
}

.designs_header.h2 {
    margin-top: 0;
}

.designs_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
}

.design-image {
    width: 49%;
    border: 1px solid #ccc;
    overflow: hidden;
    height: 200px;
    margin-bottom: 12px;
    text-align: center;
}

.design-image img {
    width: 90%;
    height: auto;
    position: relative;
    top: -20px;
    margin: 0 auto;
}

.promos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo {
    width: 100%;
}

.promo_image-container {
    text-align: center;
}

.asw-contact-form {
    background: rgba(206,206,206,1);
    padding: 18px;
}