.mobile-header,
.mobile-quick-quote,
.mobile-image {
    display: none;
}

.product-box {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 9px;
    color: #333;
}

.product-box--spaced {
    width: 19%;
    margin: 12px 3%;
}

.product-box-image {
    width: 100%;
    height: auto;
}

.product-box-description--emphasis {
    color: #D40400;
    font-size: 12px;
    margin: 8px;
}

.product-box-cta {
    background: #D40400;
    border-radius: 2px;
    border: 1px solid #340200;
    color: white;
    width: 33%;
    margin: 8px auto;
    padding: 4px;
}

.new-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.alt {
    margin: 0;
    padding: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    table.scoreboard {
        font-size: 11px;
        width: 274px;
        line-height: 168%;
        margin-top: 26px;
        margin-left: 18px;
    }

    a img {
        border: none !important;
    }

    a {
        color: #e11821;
        text-decoration: none !important;
    }

    body.blog .widget-body-no-bottom h2,
    body.single .widget-body-no-bottom h2,
    body.category .widget-body-no-bottom h2,
    body.archive .widget-body-no-bottom h2 {
        margin-top: 0 !important;
        padding-top: 7px !important;
    }

    body.blog .widget-body-no-bottom ul,
    body.single .widget-body-no-bottom ul,
    body.category .widget-body-no-bottom ul,
    body.archive .widget-body-no-bottom ul {
        list-style: none;
        padding-left: 25px;
    }

    body.blog .widget-body-no-bottom,
    body.single .widget-body-no-bottom,
    body.category .widget-body-no-bottom,
    body.archive .widget-body-no-bottom {
        padding-bottom: 12px;
    }

    br.clearright {
        clear: right;
    }

    br.clear {
        clear: both;
    }

    div .wpcf7 {
        padding: 0 !important;
    }

    form table tr td *,
    form table tr td label {
        font-size: 12px;
        color: #5D5D5D
    }

    form table tr td label {
        display: inline !important
    }

    form table tr td {
        padding: 3px 0;
    }

    h1 {
        font-size: 46px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #000;
        font-weight: bolder;
        text-transform: uppercase;
        margin: 48px 40px 18px 0;
    }

    h2 {
        font-size: 24px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bolder;
        color: #000;
        margin: 48px 40px 24px 0;
        text-transform: uppercase;
    }

    h3 {
        font-size: 16px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bolder;
        color: #000;
        margin: 36px 40px 20px 0;
        text-transform: uppercase;
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 32px;
            margin: 82px 12px 32px;
        }

        h2 {
            font-size: 20px;
            margin: 40px 12px 16px;
        }

        h3 {
            margin: 18px 12px 18px;
        }
    }

    img.aligncenter,
    .wp-caption.aligncenter {
        margin: auto;
        text-align: center;
        padding: 4px 4px 4px 4px;
    }

    img.alignleft,
    .wp-caption.alignleft {
        float: left;
        padding: 0 16px 16px 0;
    }

    img.alignright,
    .wp-caption.alignright {
        float: right;
        padding: 0 0 16px 16px;
    }

    img.left {
        float: left;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    img.right {
        float: right !important;
        padding-left: 16px;
        padding-bottom: 16px;
    }

    ol.commentlist * {
        font-size: 12px;
    }

    p.postmetadata.alt {
        margin-bottom: 0 !important;
    }

    p {
        margin: 4px 0;
    }

    small {
        font-size: 10px;
    }

    table#products tr td {
        text-align: center !important;
        padding: 26px 0 20px 0;
    }

    table#products {
        width: 100%;
        *width: 90%;
    }

    table#products tr {
        height: 225px;
    }

    table.scoreboard-14 {
        margin-top: 25px !important;
        margin-left: 318px;
    }

    table.scoreboard-14 {
        margin-top: -175px;
        margin-left: 318px;
    }

    table.scoreboard-16 {
        margin-top: 28px !important;
        margin-left: 318px;
    }

    table.scoreboard-16 {
        margin-top: -65px;
        margin-left: 318px;
    }

    table.scoreboard-18 {
        margin-top: -358px !important;
        margin-left: 318px;
    }

    table.scoreboard-18 {
        margin-top: -366px;
        margin-left: 318px;
    }

    table.scoreboard {
        font-size: 11px;
        width: 274px;
        line-height: 168%;
        margin-top: 25px;
        margin-left: 18px;
    }

    ul,
    li {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
        line-height: 21px;
    }

    ul.categories ul.children {
        padding-left: 10px !important;
    }

    ul.categories,
    ul.archives,
    ul#recentcomments,
    ul.wp-cpl-widget {
        padding-left: 0 !important;
    }

}

.alignleft {
    float: left !important;
    font-size: 12px;
}

.alignright {
    float: right !important;
    font-size: 12px;
}

.allPostsPost p a {
    color: #000 !important;
    text-decoration: underline !important
}

.allPostsPost p {
    line-height: 170% !important;
    font-family: 'Open Sans', sans-serif !important;
    margin-left: 6px !important;
}

.allPostsPost {
    background: url(/wp-content/uploads/divider.jpg) bottom no-repeat;
    padding-bottom: 16px;
    padding-top: 16px;
}

.aswlogo {
    float: left;
    margin: 20px 0px 0px 50px;
}

.avatar {
    display: none !important;
}

.best-value {
    vertical-align: middle;
}

.bigphonenumber {
    font-size: 40px;
    color: #ef272e;
    font-weight: 900;
    margin-top: 12px;
    margin-right: 20px;
}

.children {
    padding: 0;
}

.col_1 {
    width: 120px;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_2 {
    width: 250px;
}

.col_3 {
    width: 380px;
}

.col_4 {
    width: 510px;
}

.col_5 {
    width: 640px;
}

.col_6 {
    width: 770px;
}

.col_7 {
    width: 900px;
}

.column a.img {
    display: inline;
}

.column a {
    display: block;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #5D5D5D;
    text-decoration: none;
    margin: 4px 0;
}

.column small {
    font-size: 10px;
    font-family: verdana;
    color: #5D5D5D;
}

.column-with-border {
    background: url(/wp-content/themes/asw/images/footer-seperator.png) left top no-repeat;
    padding-left: 20px;
    height: 197px;
}

.comment-body {
    border: solid thin #ccc;
    padding: 8px;
}

.commentlist li ul li {
    margin-right: -5px;
    margin-left: 10px;
}

.commentlist li {
    margin: 15px 0 10px;
    padding: 5px 5px 10px 10px;
    list-style: none;

}

.commentlist p {
    margin: 10px 5px 10px 0;
}

.commentlist {
    padding: 0;
    text-align: justify;
}

.commentmetadata {
    margin: 0;
    display: block;
}

.dropdown_1column {
    width: 150px;
}

.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns,
.dropdown_6columns,
.dropdown_7columns {
    margin: 4px auto;
    float: left;
    position: absolute;
    left: -999em;
    text-align: left;
    padding: 10px 5px 0px 5px;
    border: 1px solid #d6d6d6;
    border-top: none;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    z-index: 105;
}

.dropdown_2columns {
    width: 260px;
}

.dropdown_3columns {
    width: 390px;
}

.dropdown_4columns {
    width: 520px;
}

.dropdown_5columns {
    width: 650px;
}

.dropdown_6columns {
    width: 780px;
}

.dropdown_7columns {
    width: 910px;
}

.dtcSideNav li {
    margin-left: 5px;
    padding: 4px;
    font-size: 13px;
    list-style: none !important
}

.dtcSideNav {
    margin-left: 25px !important;
    list-style: none !important;
}

.entry-bottom {
    margin-bottom: 10px;
}

.fn {
    font-weight: bolder;
}

.footer {
    clear: both;
    width: 936px;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footerFloat a {
    text-decoration: none;
    color: #626262;
}

.footerFloat {
    display: block;
    width: 25%;
    float: left;
    color: #626262;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
}

.footer_dark {
    width: 956px;
    border: 1px solid #d6d6d6;
    background: #626262;
    background: -moz-linear-gradient(top, #626262, #626262);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#626262), to(#626262));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #d6d6d6;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footer_info {
    height: 75px;
    display: block;
    clear: both;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50px;
}

.gdmultitable tr {
    background-color: #fff !important;
}

.gender-button div p a {
    font-size: 17px;
    font-weight: bolder;
    color: #3C3C3C;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.gender-button div {
    width: 273px;
    text-align: center;
    margin-top: 12px;
}

.gender-button.left {
    float: left;
}

.gender-button.right {
    float: right;
}

.headerTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 977px;
    font-family: 'Open Sans', sans-serif;
    height: 120px;
    background-color: #fff;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #d6d6d6;
}

.mininav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.mininav {
    width: auto;
    height: 25px;
    background-color: #626262;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #d6d6d6;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.navRight {
    float: right;
    text-align: right;
}

.nocomments {
    text-align: center;
    margin: 0;
    padding: 0;
}

.panel a img {
    border: none !important;
    padding: 3px 9px;
    margin-top: 20px;
}

.panel a {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #333333;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 5px;
}

.post h3 {
    font-size: 16px;
    margin: 10px 0 0px 0;
}

.quick-quote .wpcf7 input {
    padding: 0 !important;
}

.quick-quote div.comments textarea {
    width: 264px;
    font-size: 11px;
    color: #5d5d5d;
    font-family: verdana;
}

.quick-quote div.comments {
    padding: 12px 10px 0 23px;
    width: 254px;
}

.quick-quote div {
    padding: 23px 23px 10px 23px !important;
}

.ratingmulti .gdmultitable * {
    font-size: 12px;
}

.ratingmulti .gdmultitable {
    border: none !important;
}

.ratingmulti {
    margin-top: 12px;
}

.redbox b {
    color: #fff;
    font-size: 21px;
    position: relative;
    right: 15px;
    bottom: 11px;
    line-height: 0px;
    font-weight: 900;
}

.redbox p {
    display: block;
    position: relative;
    width: 225px;
    padding-left: 30px;
    padding-top: 0px;
    font-size: 11px;
    color: #ffffff;
    letter-spacing: 1px;
    padding-bottom: 8px;
    margin-top: 0px;
}

.redbox {
    display: inline-block;
    width: 270px;
    border: 1px solid #d6d6d6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ef272e;
    background: -moz-linear-gradient(top, #ef272e, #ab1a1f);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef272e), to(#ab1a1f));
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.red {
    color: #e11821;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.reply {
    font-weight: bolder;
}

.smallphonenumber {
    font-size: 15px;
    color: #626262;
    font-weight: 900;
    margin-right: 15px;
    letter-spacing: 9px;
}

.sport-button div a {
    display: inline-block;
    width: 226px;
    height: 110px;
    position: absolute;
}

.sport-button div p a {
    display: inline !important;
    height: auto;
    width: auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.sport-button div p {
    text-align: center;
    width: 226px;
    padding-top: 8px !important;
    margin-top: 0px !important;
}

.sport-button div {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    display: inline-block;
}

.stepcarousel .belt {
    position: relative;
    /*leave this value alone*/
    left: 20px;
    top: -10px;
}

.stepcarousel .panel {
    float: left;
    /*leave this value alone*/
    overflow: hidden;
    /*clip content that go outside dimensions of holding panel DIV*/
    margin: 5px;
    /*margin around each panel*/
    width: 145px;
    /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
    text-align: center;
}

.stepcarousel {
    position: relative;
    /*leave this value alone*/
    overflow: scroll;
    /*leave this value alone*/
    width: 600px;
    /*Width of Carousel Viewer itself*/
    height: 140px;
    margin-left: 10px;
}

.suggestion.last {
    margin-right: 0 !important;
}

.suggestion {
    float: left;
    margin: 0 35px 0 30px;
    text-align: center;
}

.voted {
    font-size: 14px !important;
}

.whitebox b {
    display: inline-block;
    color: #ef272e;
    font-size: 21px;
    position: relative;
    right: 15px;
    bottom: 11px;
    line-height: 0px;
    font-weight: 900;
    padding-bottom: 5px;
}

.whitebox h2 {
    display: block;
    width: 220px;
    padding-left: 30px;
    padding-top: 0px;
    font-size: 13px;
    color: #626262;
    line-height: 0px;
}

.whitebox img,
.redbox img {
    position: relative;
    right: 15px;
    bottom: 9px;
}

.whitebox p {
    display: block;
    position: relative;
    width: 205px;
    padding-left: 40px;
    padding-top: 4px;
    font-size: 11px;
    color: #626262;
    letter-spacing: 1px;
    padding-bottom: 8px;
    line-height: 12px;
}

.whitebox {
    width: 270px;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.whitebox-feed {
    width: 270px;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.whitebox-feed a {
    color: #3b579d;
}

#whiteboxContent {
    width: 691px;
    border: 1px solid #d6d6d6;
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    padding: 30px;
}

#whiteboxContent p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #2b2b2b;
    line-height: 20px;
}

.whiteboxpromo {
    width: 270px;
    height: 270px;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.whiteboxpromo img {
    position: relative;
    left: 10px;
    top: 10px;
}

.widget-body input.text,
.widget-body-no-bottom input.text {
    height: 23px;
    float: right;
    width: 189px;
    vertical-align: middle;
    margin-top: 4px;
}

.widget-body label,
.widget-body-no-bottom label {
    float: left;
    height: 23px;
    margin-top: 8px;
    vertical-align: top;
}

.widget-body select,
.widget-body-no-bottom select {
    color: #575757;
    width: 250px;
}

.widget-body-no-bottom div {
    padding: 8px;
    font-size: 11px;
}

.widget-body-no-bottom {
    border: 1px solid #B6B6B6;
    border-top: none !important;
    width: 298px !important;
    margin-left: 1px;
    background: white;
}

.widget-bottom div {
    position: relative;
    top: 12px;
    text-align: center;
}

.widget-top div {
    position: relative;
    top: 9px;
    text-align: center;
}

.wp-caption p {
    color: #ED0303 !important;
}

.wp-caption {
    background: none repeat scroll 0 0;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
    font-weight: bolder;
}

.wp-cpl-comment a {
    color: #5D5D5D
}

.wp-cpl-comment {
    display: block;
    font-size: 10px;
}

.wp-cpl-widget li {
    margin-bottom: 4px;
}

.wp-table-reloaded thead tr th {
    background-color: #333333;
    color: white !important;
    border-collapse: collapse;
    border-spacing: 0 !important;
    border: none !important;
}

/*#jsddm
{	margin: 0;
	padding: 0
}

#jsddm li
{	
	float: left;
	list-style: none;
	font: 10px Helvetica Condensed, Helvetica, 'Open Sans', sans-serif
	}

#jsddm li a
{	
	display: block;
	padding: 6px 0 6px 17px;
	text-decoration: none;
	width: auto;
	color: white;
	text-align:center;
	white-space: nowrap;
	font-weight:bolder;
	}

#jsddm li li a:hover
{	
	display:block;
	background:#661323 !important;
	}

#jsddm li ul
{	margin: 4px 0 0 0;
	padding: 0;
	visibility:hidden;
	position: absolute;
	top:10px;
	}
	
#jsddm li ul li
{	
	float: none;
	display: inline;
	text-align:center;
	}

#jsddm li ul li a
{	
	text-align:left;
	width: 190px;
	color: #F8D3DB;
	white-space:normal;
	padding:10px 12px 10px 12px;
	font:12px tahoma;
	border:none;
	font-weight:bolder;
	}

#jsdmm li ul li ul ul {
	display:none !important
}*/

.wp-table-reloaded {}

.wpcf7 input {
    padding: 4px 0;
}

.wpcf7 label {
    display: block;
    font-weight: bolder;
}

.wpselect {
    width: 271px;
    padding: 4px 0;
}

#baseball-uniform-select {
    background: url(/wp-content/themes/asw/images/baseball-uniforms-button.png) no-repeat;
    margin: 0 8px;
    margin-bottom: 7px;
}

#basketball-uniform-select {
    background: url(/wp-content/themes/asw/images/basketball-uniforms-button.png) no-repeat;
    margin-bottom: 7px
}

#blogArea {
    display: inline-block;
    float: right;
    width: 688px;
    height: auto;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #626262;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 15px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-right: 7px;
}

#blogArea h2 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

#blogArea p {
    margin-bottom: 14px;
}

#buttons img.middle-button {
    margin: 0 3px;
}

#buttons {
    margin-bottom: 10px;
}

#category-summary div.from-price strong {
    color: black;
}

#category-summary div.from-price {
    color: #626060;
    font-size: 15px;
}

#category-summary h1 {
    font-size: 22px;
    color: #D40400;
}

#category-summary h2 {
    color: #D40400;
    font-size: 18px;
    font-weight: normal;
}

#category-summary hr {
    background: url(/wp-content/themes/asw/images/hr.png) no-repeat;
    width: 389px;
    border: none;
    margin: 12px 0;
}

#category-summary img.left {
    margin-right: 18px;
    padding-right: 0px;
}

#category-summary p {
    font-size: 12px;
    color: #5d5d5d
}

#category-summary ul li {
    margin-left: 299px;
    font-size: 12px;
    color: #626060;
    line-height: 1.6;
}

#category-summary {
    padding-left: 18px;
    padding-right: 18px;
}

#coach-gear-select {
    background: url(/wp-content/themes/asw/images/coach-gear-button.png) no-repeat;
    margin-bottom: 7px;
}

#column1 {
    width: 250px !important;
}

#commentform #submit {
    margin: 0 0 5px auto;
    float: right;
}

#commentform input {
    width: 170px;
    padding: 2px;
    margin: 5px 5px 1px 0;
}

#commentform p {
    margin: 5px 0;
}

#commentform textarea {
    width: 100%;
    padding: 2px;
}

#commentform {
    margin: 5px 10px 0 0;
}

#content #bread-crumb {
    font-size: 11px !important;
    font-family: 'Open Sans', sans-serif;
    color: #2b2b2b;
    margin-bottom: 10px;
    margin-left: 20px;
}

#content #left-column {
    width: 302px;
    margin-right: 8px;
    float: left;
}

#content #right-column #entry-bottom,
.entry-bottom {
    background: url(/wp-content/themes/asw/images/content-bottom-bg.png) no-repeat;
    height: 9px !important;
    width: 694px;
}

#content #right-column #entry-content,
#product-detail-page {
    background: url(/wp-content/themes/asw/images/content-bg.png) repeat-y;
}

#content #right-column #entry-top,
.entry-top {
    background: url(/wp-content/themes/asw/images/content-top-bg.png) no-repeat;
    height: 10px;
    width: 694px;
}

#content #right-column #landing-page-top {
    width: 694px;
    height: 266px;
    background: url(/wp-content/themes/asw/images/landing-page-red-bg.png) top right no-repeat;
    margin-bottom: 10px;
}

#content #right-column {
    width: 694px;
    float: right;
}

#content {
    position: relative;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    float: right;
    width: 979px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contentAreax {
    width: 1004px;
    margin-top: 10px;
    text-align: justify;
}

#copyright p {
    color: #D8D8D8;
    font-size: 10px;
    text-align: center;
    font-family: verdana;
    padding-top: 9px;
    margin: 0 !important;
}

#copyright {
    background: url(/wp-content/themes/asw/images/footer-bg.png);
    height: 32px;
    width: 1004px;
    margin-top: 10px;
}

#cpe ul.cpe {
    padding-top: 10px;
    *padding-top: 40px;
    background: url(/wp-content/themes/asw/images/cpe-header-sprite.png) top left no-repeat;
    height: 55px;
    *height: 76px;
    *height: 76px;
    margin-bottom: 10px;
}

#cpe,
#pe,
#cp {
    width: 697px;
    position: relative;
}

#cpe.elite ul.cpe {
    background-position: left -232px;
}

#cpe.pro ul.cpe li.pro .level,
#cpe.classic ul.cpe li.classic .level,
#cpe.elite ul.cpe li.elite .level,
#pe.pro ul.cpe li.pro .level,
#pe.elite ul.cpe li.elite .level,
#cp.classic ul.cpe li.classic .level,
#cp.pro ul.cpe li.pro .level {
    color: #D40400;
}

#dtcNav li a {
    font-size: 13px;
    display: block;
    height: 24px;
    padding-top: 10px;
    color: white;
    font-weight: bolder;
}

#dtcNav li.current_page_item,
#dtcNav li.current_page_item a {
    background: white !important;
    color: black !important;
}

#dtcNav li {
    display: block !important;
    float: left !important;
    padding: 0 28px !important;
    list-style: none !important;
}

#dtcNav {
    list-style: none !important;
    background: url(/wp-content/themes/asw/images/dtcPageBG.png) repeat-x top black;
    display: block;
    height: 34px;
    width: 100%;
    margin-left: 0 !important;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-borderradius: 2px;
}

#entry #category-summary p {
    line-height: 1 !important;
    margin-top: 10px;
}

#entry #category-summary {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#entry-content .dyu {
    float: right;
    padding-left: 14px;
}

#entry-content p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #5D5D5D;
    line-height: 1.5;
    margin: 8px 0;
}

#entry-content ul {
    margin-left: 30px;
    line-height: 150%;
    font-size: 12px;
    color: #5d5d5d;
    margin-top: 4px;
}

#entry-content {
    padding: 7px 24px 7px 24px;
}

#entry.redHeaders h1 {
    color: #e11821 !important;
}

#entry.redHeaders h2 {
    color: #e11821 !important;
}

#flash-header {
    margin-top: 2px;
}

#football-uniform-select {
    background: url(/wp-content/themes/asw/images/football-uniforms-button.png) no-repeat;
    margin-bottom: 7px;
}

#footer-content .column {
    float: left;
    width: 150px;
}

#footer-content {
    padding: 7px 23px 7px 23px;
    background: url(/wp-content/themes/asw/images/footer-nav-bottom-bg.png) left bottom no-repeat;
    float: left;
    display: block;
    width: 1004px;
}

#footer-top {
    width: 1004px;
    background: url(/wp-content/themes/asw/images/footer-nav-top-bg.png) no-repeat;
    height: 9px;
    width: 1004px;
}

#footer {
    width: 1004px;
    background: url(/wp-content/themes/asw/images/footer-nav-bg.png) no-repeat;
    background-position: 0px 9px;
}

#gender-selection .gender-button {
    height: 189px;
    width: 340px;
    background: url(/wp-content/themes/asw/images/gender-selection-bg.png) no-repeat;
}

#gender-selection {
    margin-bottom: 10px;
}

#header #account-nav {
    float: right;
    font-size: 10px;
    font-family: verdana;
    margin: 14px 16px;
}

#header #content-nav {
    float: left;
    font-size: 10px;
    font-family: verdana;
    margin: 0 0 0 13px;
    position: relative;
    top: 14px;
}

#header #navigation a {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #ED0303;
    font-weight: 700;
    display: block;
}

#header #navigation ul li {
    float: left;
    background: url(/wp-content/themes/asw/images/navigation-seperator.png) right 50% no-repeat;
    padding: 0 25px;
}

#header #navigation ul {
    list-style-type: none;
    padding-top: 9px;
}

#header #navigation {
    background: url(/wp-content/themes/asw/images/navigation-bgNew.png) top left no-repeat;
    margin-top: -10px;
    padding-top: 10px;
    height: 73px;
    width: 1004px;
}

#header #search .search-box {
    width: 170px;
    height: 22px;
    position: relative;
    top: -12px;
}

#header #search .search-button {
    position: relative;
    top: -3px;
}

#header #search {
    float: right;
    margin-right: 8px;
    vertical-align: middle;
}

#header a {
    color: #666666;
    text-decoration: none;
    font-weight: 700;
}

#header div.blinking-number {
    margin: -25px 27px;
    float: right;
    text-decoration: blink;
}

#header div.smallphonenumber {
    margin: -20px 27px;
    float: right;
    letter-spacing: 5px;
}

#header img.live-chat-logo {
    vertical-align: bottom;
    _vertical-align: baseline;
}

#header img.logo {
    margin: 13px 11px;
    float: left;
    position: relative;
    top: 10px;
}

#header img.three-ways-to-order {
    margin: 25px 16px;
    float: right;
}

#header {
    background: url(/wp-content/themes/asw/images/header-bg.png) top left no-repeat;
    height: 178px;
    width: 1004px;
}

#icons {
    margin-top: 24px;
}

#landing-page-text h1 span {
    color: #FFCBC6;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal !important;
}

#landing-page-text h1 {
    color: white;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 14px;
    text-transform: uppercase;
}

#landing-page-text p {
    margin-top: 28px;
    color: white;
}

#landing-page-top #landing-page-text {
    float: left;
    width: 412px;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 13px;
    margin-right: 13px;
    *width: 400px;
    _width: 390px;
}

#landing-page-top img {
    float: left;
}

#left-column #side-navigation ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #6C6C6C;
    text-decoration: none;
    padding-left: 20px;
    display: block;
}

#left-column #side-navigation ul li.coach-gear {
    padding-top: 24px;
    _line-height: 30px;
    _padding-top: 0 !important;
}

#left-column #side-navigation ul li {
    display: block;
    background: url(/wp-content/themes/asw/images/left-navigation-seperator.gif) bottom left no-repeat;
    padding: 6px 0 8px 0;
    _padding-left: 8px;
    _padding-right: 8px;
    _padding-top: 0 !important;
    _padding-bottom: 0 !important;
    _line-height: 30px;
    margin: 0 !important;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    *height: 32px;
}

#left-column #side-navigation ul {
    background: url(/wp-content/themes/asw/images/left-navigation-bottom.png) bottom left no-repeat;
    width: 300px;
    display: block;
    padding-bottom: 30px;
}

#left-column #side-navigation {
    background: url(/wp-content/themes/asw/images/left-navigation-top.png) top left no-repeat;
    width: 300px;
    padding-top: 28px;
    margin-bottom: 10px;
}

#left-column .text-widget .widget-body .required {
    color: #F90306;
}

#left-column .text-widget .widget-body p,
.widget-body label,
#left-column .text-widget .widget-body-no-bottom p,
.widget-body-no-bottom label {
    line-height: 1.3;
}

#left-column .text-widget .widget-body small {
    color: #8F8F8F;
    font-size: 10px;
}

#left-column .text-widget .widget-body,
#left-column .text-widget .widget-body-no-bottom {
    width: 302px;
    font-size: 12px;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
}

#left-column .text-widget .widget-bottom {
    background: url(/wp-content/themes/asw/images/left-side-bottom.png) no-repeat;
    height: 49px;
    width: 302px;
}

#left-column .text-widget .widget-top {
    background: url(/wp-content/themes/asw/images/left-side-top.png) no-repeat;
    height: 42px;
    width: 302px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

#left-column .text-widget {
    margin-bottom: 10px;
}

#mainprodimg {
    border: 1px solid #f1f1f1;
    margin-bottom: 12px;
}

#menu .menu_right {
    float: right;
    margin-right: 0px;
}

#menu li a {
    font-family: 'Open Sans', sans-serif, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    display: block;
    outline: 0;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding-top: 1px;
}

#menu li {
    float: left;
    display: block;
    text-align: center;
    position: relative;
    padding: 4px 10px 4px 10px;
    margin-right: 5px;
    margin-top: 0px;
    border: none;
}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns,
#menu li:hover .dropdown_6columns,
#menu li:hover .dropdown_7columns {
    left: -1px;
    top: auto;
}

#menu li:hover a {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding-top: 0px;
}

#menu li:hover div a {
    font-size: 8px;
    color: #2b2b2b;
    text-shadow: 0px 0px 0px #000;
}

#menu li:hover div a:hover {
    color: #626262;
}

#menu li:hover {
    border: 1px solid #ad0101;
    padding: 4px 9px 3px 9px;
    background: #ab1a1f;
    background: -moz-linear-gradient(top, #ab1a1f, #ab1a1f);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ab1a1f), to(#ab1a1f));
}

#menu p {
    text-align: center;
    font-size: 10px;
    letter-spacing: -.5px;
    margin: 0 0 10px 0;
}

#menu {
    list-style: none;
    width: 936px;
    margin: -1px auto 0px auto;
    height: 30px;
    padding: 0px 20px 0px 20px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ef272e;
    background: -moz-linear-gradient(top, #ef272e, #ab1a1f);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef272e), to(#ab1a1f));
    border: 1px solid #adadad;
}

#navigation ul li ul li a:hover {
    color: #e11821 !important;
}

#navigation ul li ul li a {
    color: black !important;
}

#navigation ul li ul li {
    background: none !important;
    padding: 6px !important;
    float: none !important;
    display: block;
}

#navigation ul li ul {
    position: absolute;
    visibility: hidden;
    background: #F0F0F0;
    width: 200px;
    border: #CDCDCD 1px solid;
    padding-top: 0 !important;
    z-index: 100 !important;
}

#pe ul.cpe li .customize-level,
#cpe ul.cpe li .customize-level,
#cp ul.cpe li .customize-level {
    font-size: 11px;
    color: #777575;
    font-weight: bold;
    line-height: 13px;
}

#pe ul.cpe li .from-price strong,
#cpe ul.cpe li .from-price strong,
#cp ul.cpe li .from-price strong {
    color: #000000;
    font-weight: bolder;
}

#pe ul.cpe li .from-price,
#cpe ul.cpe li .from-price,
#cp ul.cpe li .from-price {
    font-size: 12px;
    color: #777575;
    margin-top: 0px;
    line-height: 13px;
}

#pe ul.cpe li .level,
#cpe ul.cpe li .level,
#cp ul.cpe li .level {
    font-size: 15px;
    font-weight: bolder;
    color: #3C3C3C;
    line-height: 15px;
}

#pe ul.cpe li a,
#cpe ul.cpe li a,
#cp ul.cpe li a {
    text-decoration: none;
}

#pe ul.cpe li,
#cp ul.cpe li {
    width: 347px;
}

#pe ul.cpe li,
#cpe ul.cpe li,
#cp ul.cpe li {
    display: block;
    float: left;
    width: 231px;
    text-align: center;
}

#pe ul.cpe,
#cp ul.cpe {
    padding-top: 15px;
    *padding-top: 40px;
    background: url(/wp-content/themes/asw/images/pe-header-sprite.png) top left no-repeat;
    height: 50px;
    *height: 76px;
    *height: 116px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#pe.elite ul.cpe,
#cpe.pro ul.cpe,
#cp.pro ul.cpe {
    background-position: left -116px;
    margin-top: 5px;
}

li .pro {
    position: relative;
    display: block;
    right: 250px;
}

#product-detail-left .product-thumb {
    border: 2px solid #f1f1f1;
    padding: 0px;
}

#product-detail-left {
    width: 240px;
    *width: 241px;
    margin-left: 0px;
    float: left;
    background: url(/wp-content/themes/asw/images/right-seperator.png) right top repeat-x;
}

#product-detail-right #buttons img {
    margin-right: 3px;
}

#product-detail-right #buttons {
    margin-top: 12px;
}

#product-detail-right #product-from {
    font-size: 14px;
    color: black;
}

#product-detail-right #product-name {
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: #D40400
}

#product-detail-right #tabs div table tr td {
    font-size: 12px !important;
}

#product-detail-right #tabs div {
    border: 1px solid #B9B9B9;
    padding: 18px;
    color: #484848;
    font-size: 12px;
}

#product-detail-right #tabs ul#tabbed li a {
    color: black;
}

#product-detail-right #tabs ul#tabbed li.active a {
    color: white;
}

#product-detail-right #tabs ul#tabbed li.active {
    background: url(/wp-content/themes/asw/images/active-tab.png) no-repeat;
}

#product-detail-right #tabs ul#tabbed li {
    float: left;
    margin-right: 8px;
    margin-left: 0px;
    font-size: 12px;
    font-weight: bolder;
    width: 150px;
    text-align: center;
    height: 23px;
    padding-top: 9px;
    background: url(/wp-content/themes/asw/images/inactive-tab.png) no-repeat;
    position: relative;
    right: 41px;
}

#product-detail-right #tabs ul#tabbed {
    list-style: none;
}

#product-detail-right #tabs {
    margin-top: 20px;
}

#product-detail-right {
    float: right;
    width: 370px;
    *width: 406px;
    margin-right: 0px;
}

#product-detail-top a {
    display: block;
    height: 30px;
    width: 85px;
}

#products td a p {
    margin-top: 10px;
}

/*#cpe #products{
	background:url(/wp-content/themes/asw/images/products-bg.gif) repeat-y;
}

#cpe #products div{
	width:229px;
	text-align:center;
	float:left;
	*border-top:26px transparent solid;
	*border-bottom:24px transparent solid;
}

#cpe #products div.end{
	width:200px;
}
*/

#products td a {
    color: #D40400;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}

#qqSubmit {
    display: block;
    text-indent: -3000em;
    background: url(/wp-content/themes/asw/images/submit-button.png) no-repeat;
    height: 27px;
    width: 92px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#respond:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#right-column #sport-selection .sport-button {
    width: 226px;
    height: 200px;
    float: left;
}

#right-column #sport-selection {
    margin-top: 7px;
}

#rightbar {
    position: relative;
    bottom: 5px;
    display: block;
    width: 695px;
    float: right;
    padding-top: 0px;
    margin-top: 0px;

}

#shop-by-product-type strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #F80003;
    margin-left: 25px;
    position: relative;
}

#shop-by-product-type {
    margin-bottom: 0px;
}

#sidebar {
    position: relative;
    float: left;
    width: 270px;
    display: inline-block;
}

#softball-uniform-select {
    background: url(/wp-content/themes/asw/images/softball-uniform-button.png) no-repeat;
    margin: 0 8px;
    margin-bottom: 7px;
}

#tabs div li {
    margin-left: 5px;
}

#tabs div ul {
    list-style: square;
}

#territories {
    width: 1004px;
    background: url(/wp-content/themes/asw/images/footer-nav-bg.png) repeat-y;
}

#volleyball-uniform-select {
    background: url(/wp-content/themes/asw/images/volleyball-uniform-button.png) no-repeat;
    margin-bottom: 7px;
}

#whiteboxSmall a {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

#whiteboxSmall b {
    display: block;
    width: 162px;
    height: 28px;
    background: #ef272e;
    background: -moz-linear-gradient(top, #ef272e, #ab1a1f);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef272e), to(#ab1a1f));
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-top-bottom-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #d6d6d6;
    padding-top: 8px;
    margin-left: -1px;
}

#whiteboxSmall img {
    margin: 3px;
}

#whiteboxSmall {
    display: inline;
    width: 162px;
    height: 142px;
    border: 1px solid #d6d6d6;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d6d6d6));
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    text-align: center;
}

#wrapper {
    display: block;
    width: 979px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 87px;
}

#qqName,
#qqEmail,
#qqPhone,
#qqQty,
#qqSport {
    width: 200px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}

.redbox select {
    width: 200px;
    height: 40px;
    font-size: 14px;
    margin-bottom: 5px;
}

.sm-buttons {
    display: block;
    position: absolute;
    margin-left: 270px;
    margin-top: 5px;
}

#custom-fb-feed {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.cff-link-title {
    font-size: 11px;
    text-decoration: underline;
}

.cff-post-text {
    font-size: 13px;
    color: #2b2b2b;
}

.cff-shared-link {
    display: none;
    width: 220px !important;
    padding: 5px;
    padding-bottom: 0px;
}

.cff-link-caption {
    font-size: 9px;
}

.cff-post-desc {
    font-size: 10px;
    color: #2b2b2b;
}

cff-date {
    font-size: 8px;
}

cff-viewpost-facebook {
    font-size: 8px;
}

#cff .cff-item {
    padding: 0 0 5px 0 !important;
}

.product-images a {
    font-size: 9px;
    color: #2b2b2b;
    font-weight: 600;
}

.ph-text p {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px !important;
    color: #2b2b2b;
    font-weight: 900 !important;
    line-height: 12px;
}

.ph-text b {
    color: #ff0023;
}

#classic-tooltip {
    position: absolute;
    left: 285px;
    top: 200px;
    z-index: 2;
}

#pro-tooltip {
    position: absolute;
    left: 100px;
    top: 185px;
    z-index: 3;
}

#classic-tooltip li {
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
    position: relative;
    right: 10px;
    list-style-type-disc;
    text-align: left;
}

#pro-tooltip li {
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
    position: relative;
    right: 10px;
    list-style-type-disc;
    text-align: left;
}

.arrow_box-left {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    position: relative;
    background: #2b2b2b;
    border: 1px solid #616161;
    text-align: center;
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 10px;

}

.arrow_box-left:after,
.arrow_box-left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box-left:after {
    border-color: rgba(43, 43, 43, 0);
    border-right-color: #2b2b2b;
    border-width: 12px;
    margin-top: -12px;
}

.arrow_box-left:before {
    border-color: rgba(97, 97, 97, 0);
    border-right-color: #616161;
    border-width: 13px;
    margin-top: -13px;
}

.arrow_box-right {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    position: relative;
    background: #2b2b2b;
    border: 1px solid #616161;
    text-align: center;
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

.arrow_box-right:after,
.arrow_box-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box-right:after {
    border-color: rgba(43, 43, 43, 0);
    border-left-color: #2b2b2b;
    border-width: 12px;
    margin-top: -12px;
}

.arrow_box-right:before {
    border-color: rgba(97, 97, 97, 0);
    border-left-color: #616161;
    border-width: 13px;
    margin-top: -13px;
}

img#wpstats {
    display: none
}

.w2linput {
    width: 50%;
}
