/**
* Brand Color: #ed1c52;
*/
html {
    background-color: #eaeaea;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

#sthoverbuttons {
    display: none;
}

/************** HEADER ***********/
header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    header {
        text-align: right;
    }
}

.header-contact {
    list-style-type: none;
    margin: 0 0 0 auto;
    padding: 0;
}

.header-contact__item {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
}

@media screen and (min-width: 768px) {
    .header-contact__item {
        border-right: solid 1px black;
        font-size: 14px;
        line-height: 16px;
        margin-right: 15px;
        padding-right: 15px;
    }

    .header-contact__item:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
}

.header-contact__phone {
    color: rgba(255, 0, 0, 1);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.header-contact__item--chat,
.header-contact__item--search {
    display: none;
}

.header-contact__item--chat {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .header-contact__item--chat,
    .header-contact__item--search {
        display: inline-block;
        position: relative;
        top: -4px;
    }
}

.online-indicator {
    background-color: #68d221;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 5px 0 15px;
    width: 8px;
}

.online-indicator__offline {
    background-color: #d22121;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 5px 0 15px;
    width: 8px;
}

.header-contact__item--search {
    width: 100px;
}

.header-contact__search {
    border: none;
    color: #969696;
    font-size: 14px;
    width: calc(100% - 20px);
}

.header-contact__search:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #636363 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #636363 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #636363 !important;
}

:-ms-input-placeholder {
    color: #636363 !important;
}

/********** NAV ****************/

nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-linear-gradient(left, rgba(0,91, 161, 224) 0%, rgba(0,111, 161, 224) 47%, rgba(0,131, 161, 224) 100%);
    background: linear-gradient(left, rgba(0,91, 161, 224) 0%, rgba(0,111, 161, 224) 47%, rgba(0,131, 161, 224) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    position: relative;
    z-index: 1000; /** Needed to sit on top of the carousel */
}

.nav-content {
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
}

.nav__header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

@media screen and (min-width: 768px) {
    .nav-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1360px) {
    .nav-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.nav__logo {
    max-width: 61%;
    min-width: 200px;
}

.nav__menu-mobile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .nav__menu-mobile {
        display: none;
    }
}

.nav__menu-mobile__label {
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.nav__menu-mobile_symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dot {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    height: 3px;
    width: 3px;
}

.dot:nth-child(2) {
    margin: 2px 0;
}

/****** NAVIGATION COMPONENTS ********/
.nav__menu {
    background: #eaeaea;
    color: black;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
}

.nav__menu--active {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.menu-item {
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    position: relative;
    text-indent: 20px;
    text-transform: uppercase;
}

.menu-item-subtract.fa,
.menu-item-plus.fa {
    float: right;
    font-size: 15px;
    line-height: 50px;
    margin-right: 14px;
}

.menu-item-link {
    color: black;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

.menu-item-link:hover {
    color: black;
}

.menu-item--0:hover {
    color: black;
}

.tertiary__menu {
    display: none;
}

.menu-item.menu-item--active > .tertiary__menu {
    display: block;
}

.tertiary__menu .menu-item {
    text-indent: 40px;
}

.menu-item-hidemobile > .menu-item-subtract.fa,
.menu-item-hidemobile > .menu-item-plus.fa,
.menu-item-hidemobile > .menu-item-nolink {
    display: none;
}

.tertiary__menu .menu-item-link {
    font-weight: normal;
    text-transform: capitalize;
}

.menu-item--signin {
    text-indent: 10px;
}

.menu-item--signin-icon {
    margin-right: 8px;
}

.menu-item__andone-icon {
    background: url(../images/and-one-header.png) no-repeat;
    background-size: cover;
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: calc(100% + 6px);
    width: 55px;
}

.menu-item-chevron {
    margin-left: 5px;
}

.menu-item-nolink {
    position: relative;
}

.menu-item-subtract.fa {
    display: none;
}

.menu-item--active > .menu-item-plus.fa {
    display: none;
}

.menu-item--active > .menu-item-subtract.fa {
    display: block;
}

@media screen and (min-width: 768px) {
    .menu-item__andone-icon {
        left: 0;
    }

    .nav__menu {
        background: transparent;
        display: block;
        margin-left: auto;
        position: static;
        width: auto;
    }

    .menu-item-hidemobile > .menu-item-nolink {
        display: block;
    }

    .menu-item-subtract.fa,
    .menu-item-plus.fa {
        display: none !important;
    }

    .menu-item {
        position: static;
        text-indent: 0;
    }

    .menu-item-0 {
        border-bottom: none;
        display: inline-block;
        text-indent: 0;
        text-transform: uppercase;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }

    .menu-item-0 > .menu-item-link,
    .menu-item-0 > .menu-item-nolink {
        color: black;
        display: block;
        line-height: 35px;
        padding: 0 24px;
    }

    .menu-item-0:hover {
        background-color: #eaeaea;
    }

    .subnav__menu {
        background: #eaeaea;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-left: 7.16%;
        padding-bottom: 30px;
        padding-right: 7.16%;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
    }

    .subnav__menu .menu-item-nolink {
        display: block;
        color: black;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .menu-item-0 > .subnav__menu {
        display: none;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .menu-item-has-children:hover > .subnav__menu,
    .menu-item--active > .subnav__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #959595;
    }

    .menu-item-0 > .subnav__menu > .menu-item {
        margin-bottom: 24px;
        padding-right: 16px;
        width: 15%;
    }

    .tertiary__menu {
        display: block;
    }

    .tertiary__menu .menu-item {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 15px;
        text-indent: 0;
    }
}

@media screen and(min-width: 1360px) {
    .subnav__menu {
        padding-left: 18%;
        padding-right: 18%;
    }
}

/*************** FOOTER *********/

footer {
    text-align: center;
}

footer:before {
    display: block;
    content: " ";
    clear: both;
}

.home__help {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.home__help-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-linear-gradient(top, rgba(225, 225, 225, 1) 0%, rgba(218, 218, 218, 1) 54%, rgba(206, 206, 206, 1) 100%);
    background: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, rgba(218, 218, 218, 1) 54%, rgba(206, 206, 206, 1) 100%);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 135px;
}

.home__help-box:first-child {
    margin-right: 15px;
}

.home__help-box__label {
    font-size: 10px;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

.home__help-box:hover .home__help-box__label {
    color: #585858;
}

.home__help-box__label strong {
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-transform: uppercase;
}

.home__help-box__label .online-indicator {
    margin-left: -5px;
}

@media screen and (min-width: 768px) {
    .home__help {
        margin: 60px 0;
    }

    .home__help-box {
        height: 100px;
        width: 190px;
    }

    .home__help-box:first-child {
        margin-right: 22px;
    }

    .home__help-box__label {
        font-size: 14px;
    }

    .home__help-box__label strong {
        font-size: 20px;
    }

    .home__help-box__label .online-indicator {
        height: 10px;
        width: 10px;
    }
}

.footer__logo {
    margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
    .footer__logo {
        margin-bottom: 12px;
    }
}

.footer-contact {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    padding: 20px 0;
}

.footer-contact__item {
    display: inline-block;
    font-size: 11px;
}

@media screen and (min-width: 768px) {
    .footer-contact__item {
        font-size: 15px;
    }

    .copyright {
        font-size: 12px;
    }
}

.footer-contact__item-link {
    border-right: solid 1px black;
    color: black;
    display: block;
    margin-right: 8px;
    padding-right: 8px;
    text-decoration: none;
    -webkit-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

.footer-contact__item-link:hover {
    color: #ed1c52;
}

.footer-contact__item:last-child > .footer-contact__item-link {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.copyright {
    font-size: 10px;
}

.footer__social {
    background-color: white;
    padding: 25px 0;
}

.footer__social-icon {
    color: black;
    font-size: 15px;
    margin: 0 4px;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

@media screen and (min-width: 768px) {
    .footer__social-icon {
        font-size: 20px;
    }
}

.footer__social-icon:hover {
    color: #ed1c52;
}

/*********** QUOTE MODAL *********/
.quote__modal {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.quote__modal.active {
    display: block;
}

.quote__overlay {
    background-color: rgba(0, 0, 0, .88);
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

.quote__modal-content {
    background-color: #e8e8e8;
    margin-top: 60px;
    padding: 40px 30px;
    position: relative;
    text-align: left;
}

.quote__modal-close {
    color: black;
    cursor: pointer;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    right: 10px;
}

.quote__modal--description-field,
.quote--description-field {
    border: none;
    outline: none;
    width: 100%;
}

.quote__modal-form-field--description {
    display: none;
}

.quote__modal ::-webkit-input-placeholder,
.quote-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #636363 !important;
}
.quote__modal ::-moz-placeholder,
.quote-form ::-moz-placeholder { /* Firefox 19+ */
    color: #636363 !important;
}
.quote__modal :-ms-input-placeholder,
.quote-form :-ms-input-placeholder { /* IE 10+ */
    color: #636363 !important;
}
.quote__modal :-moz-placeholder,
.quote-form :-moz-placeholder { /* Firefox 18- */
    color: #636363 !important;
}

@media screen and (min-width: 768px) {
    .quote__modal-content {
        margin: 170px auto 0;
        padding-left: 100px;
        padding-right: 100px;
        width: 520px;
    }

    .quote__modal-close {
        color: #eaeaea;
        right: 0;
        bottom: 100%;
    }
}

.quote__modal-headline {
    font-size: 21px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.quote__modal-subtext {
    font-size: 14px;
    line-height: 22px;
}

.quote-form,
#dvBannerHTML {
    width: 100%;
}

.quote__modal-form-field,
.quote-form-field,
.ff-item-row:not(.ff-footer-row) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border: solid 2px #bebec3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.quote__modal-form-input,
.quote-form-input,
.ff-input-type {
    border: none;
    font-size: 16px;
    line-height: 50px;
    outline: none;
    padding-left: 10px;
    width: 75%;
}

.ff-textarea {
    width: 100%;
    border: none;
    outline: none;
}

select.quote__modal-form-input,
select.quote-form-input,
.ff-select-type {
    padding: 12px 8px;
}

.quote__modal-form-required,
.quote-form-required {
    color: rgba(93, 95, 96, .4);
    font-size: 10px;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 25%;
}

.quote__modal-form-submit,
.quote-form-submit {
    background: none;
    border: none;
    color: #f1151b;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.quote__modal-form-submit[disabled],
.quote-form-submit[disabled] {
    color: #7f7f7f;
}

.quick-quote__cta[disabled] {
    color: #7f7f7f;
    background-color: #25272a;
}

.quote__modal-form-submit {
    margin-top: 12px;
}

.header-contact__item > .fa-phone {
    font-size: 20px;
    margin-right: 4px;
}

/***** HERO   ******/
.stat-banner {
    background-color: #e6e6e6;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.stat-banner strong {
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .stat-banner {
        font-size: 22px;
    }
}

.hero,
.hero--large {
    position: relative;
}

.hero--large .hero__container,
.hero__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000 no-repeat top center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 275px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    background-size: cover;
}

.hero--large.left .hero__container,
.hero.left .hero__container {
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.hero.left .hero__content,
.hero--large.left .hero__content {
    text-align: left;
    padding: 0 18px;
    width: 100%;
}

.hero--brand.hero--large .hero__eyebrow,
.hero--brand.hero--large .hero__headline {
    line-height: 100%;
    font-size: 32px;
}

.hero--brand.hero .hero__eyebrow,
.hero--brand.hero .hero__headline {
    font-size: 26px;
    line-height: 100%;
}

@media screen and (min-width: 768px) {
    .hero.left .hero__content,
    .hero--large.left .hero__content {
        text-align: left;
        width: 700px;
    }

    .hero--brand .hero__eyebrow {
        width: 500px;
    }

    .hero--brand .hero__headline {
        width: 100%;
    }

    .hero--brand .hero__subtext {
        border: none;
        margin: 0;
    }

    .hero--brand.hero--large .hero__eyebrow,
    .hero--brand.hero--large .hero__headline {
        line-height: 100%;
        font-size: 52px;
    }

    .hero--brand.hero .hero__eyebrow,
    .hero--brand.hero .hero__headline {
        font-size: 42px;
        line-height: 100%;
    }
}

.hero--large .hero__container::before,
.hero .hero__container::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    left: 0;
}

@media screen and (min-width: 1360px) {
    .hero__image,
    .hero__media {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.hero__content {
    position: relative;
    text-align: center;
}

.hero__form {
    background-color: rgba(200, 200, 200, 0.4);
}

.hero__form .quote-form,
.hero__form #dvBannerHTML {
    width: 100%;
}

.hero__form .quote-form-input,
.hero__form .ff-input-type {
    line-height: 32px;
}

@media screen and (min-width: 1024px) {
    .hero__form {
        position: absolute;
        right: 0;
        width: 25%;
        padding: 40px;
        top: 0;
        height: 100%;
    }
}


.left > .hero__content {
    text-align: left;
}

.hero__eyebrow {
    font-size: 13px;
    font-weight: 800;
}

.hero__headline {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.hero--brand .hero__eyebrow,
.hero--brand .hero__subtext {
    color: #d71c24;
}

.hero__subtext {
    border-top: solid 1px white;
    font-size: 13px;
    font-weight: 800;
    line-height: 17px;
    margin: 15px 0;
    padding-top: 15px;
}

.hero--brand .hero__subtext {
    border: none;
}

.left > .hero__subtext {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hero__container {
        height: 33vh;
        min-height: 400px;
    }
    .hero--large .hero__container {
        height: 60vh;
        min-height: 600px;
    }

    .hero.left .hero__container,
    .hero--large.left .hero__container {
        padding: 0 40px;
    }

    .hero__eyebrow {
        font-size: 21px;
        line-height: 19px;
    }

    .hero__headline {
        font-size: 72px;
        margin-top: 10px;
    }

    .hero__subtext {
        border-width: 2px;
        font-size: 22px;
        line-height: 28px;
        margin-top: 30px;
        margin-bottom: 35px;
        padding-top: 40px;
    }

    .hero--brand .hero__subtext {
        margin-top: 0;
    }

    .left  .hero__subtext {
        margin: 30px 0;
    }
}

.btn--primary, button.button {
    background-color: #f41116;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.btn--primary:hover, button.button {
    background-color: #ed1c52;
}

@media screen and (min-width: 768px) {
    .btn--primary {
        font-size: 22px;
        padding: 30px;
    }
}

/****** Homepage Tile Grid  *******/
.tile-grid {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    padding-bottom: 15px;
}

.tile-grid--secondary {
    background: none;
}

.alternate-background {
    background: black;
    color: white;
}

@media screen and (min-width: 768px) {
    .tile-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (min-width: 1360px) {
    .tile-grid {
        padding-left: 200px;
        padding-right: 200px;
    }

    .tile-grid--secondary {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.tile {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .tile {
        margin-right: 8px;
        width: calc(50% - 16px);
    }

    .tile:nth-child(even) {
        margin-left: 8px;
    }
}

@media screen and (min-width: 1360px) {
    .tile {
        margin-right: 15px;
        width: calc(50% - 30px);
    }

    .tile:nth-child(even) {
        margin-left: 15px;
    }
}

.tile__media {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.tile__image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.tile__content {
    padding: 0 20px;
    text-align: left;
}

.tile-grid--secondary .tile__content {
    text-align: center;
}

.tile-grid--secondary .tile__headline {
    text-transform: uppercase;
}

.tile-grid--secondary .tile__description {
    font-weight: normal;
}

@media screen and (min-width: 1360px) {
    .tile__content {
        padding: 0 40px;
    }
}

.tile__headline {
    font-size: 16px;
    margin: 10px 0 6px;
}

.tile__description {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

@media screen and (min-width: 1360px) {
    .tile__headline {
        font-size: 20px;
        margin: 25px 0;
    }

    .tile__description {
        font-size: 16px;
    }
}

/**
* Archive styles
*/

.recent-posts {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 24px;
}

.recent-posts a,
.recent-posts--alternate a {
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}

.recent-posts a:hover,
.recent-posts--alternate a:hover {
    color: black;
}

.recent-posts_header {
    background: #eaeaea;
    color: black;
    text-align: left;
    padding: 8px 12px;
    font-weight: bold;
}

.recent-posts_entry {
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 4px 0;
}

.recent-posts--alternate .recent-posts_entry {
    padding: 16px 0;
}

.recent-posts_entry:last-child {
    border-bottom: none;
}

@media screen and (min-width: 768px) {
    .simple-page_right-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .recent-posts,
    .recent-posts--alternate {
        width: 50%;
        padding: 0 12px;
    }
}

@media screen and (min-width: 1360px) {
    .simple-page_columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .simple-page_right-column {
        display: block;
        width: 40%;
        padding-left: 8%;
        margin-top: 74px;
    }

    .recent-posts_entry-title {
        font-size: 13px;
        padding: 0 8px;
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    }

    .recent-posts,
    .recent-posts--alternate {
        width: 100%;
        padding: 0;
    }
}

.social-spotlight {
    text-align: center;
    padding: 46px 18px;
}

.social-spotlight__title {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
}

.social-spotlight__subtitle {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 26px;
    margin: 12px;
}

.sport-selector {
    position: relative;
    display: inline-block;
}

.sport-selector__sports {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    visibility: hidden;

}

.sport-selector__list > .btn--primary:hover,
.sport-selector__list:hover {
    background-color: #d71c24;
}

.sport-selector__list:hover > .sport-selector__sports {
    background: #d71c24;
    opacity: 1;
    visibility: visible;
}

.sport-selector,
.sport-selector__sports {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn--primary:hover + .sport-selector__sports {
    visibility: visible;
}

.sport-selector__sport {
    padding: 8px 12px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.sport-selector__sport a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.sport-selector__sport:hover {
    background-color: black;
}

.tile-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 70px 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tile-section-content__title {
    font-size: 36px;
    font-weight: 900;
    margin: auto auto 36px auto;
    text-transform: uppercase;
}

.tile-section-content__description {
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 160%;
}

.tile-section__image-panels .image-panel {
    overflow: hidden;
    height: 225px;
    margin: 24px 0;
    display: block;
}

.tile-section__image-panels .image-panel .cta,
.tile-section__image-panels .image-panel .cta--secondary {
    display: none;
}

@media screen and (min-width: 768px) {
    .tile-section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 70px 34px;
    }
    .tile-section__content {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        padding: 0 32px 0 0;
    }
    .tile-section__image-panels {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .tile-section__image-panels .image-panel {
        overflow: hidden;
        height: 225px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 12px;
    }
}

@media screen and (min-width: 1360px) {
    .tile-section {
        padding: 70px 64px;
    }
    .tile-section__content {
        padding-right: 70px;
    }
    .tile-section__image-panels {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .tile-section__image-panels .image-panel {
        -ms-flex-preferred-size: 47.5%;
        flex-basis: 47.5%;
        min-width: 300px;
        margin: 12px;
    }
}



/**
Image Panels
*/
.image-panel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.image-panel__video {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
}

.image-panel__video--active {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.image-panel--bricked .image-panel_cta > .cta,
.image-panel--bricked .image-panel_cta > .cta--secondary,
.image-panel--bricked--right .image-panel_cta > .cta,
.image-panel--bricked--right .image-panel_cta > .cta--secondary{
    padding: 0;
    background-color: transparent;
    line-height: 100%;
    margin: 0;
    min-width: 0;
    border: none;
}

.image-panel--bricked .image-panel_cta > .cta:hover,
.image-panel--bricked .image-panel_cta > .cta--secondary:hover,
.image-panel--bricked--right .image-panel_cta > .cta:hover,
.image-panel--bricked--right .image-panel_cta > .cta--secondary:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
}

.image-panel--bricked .image-panel_cta > .cta::after,
.image-panel--bricked--right .image-panel_cta > .cta::after{
    content: "|";
    margin: 8px;
}

@media screen and (max-width: 768px) {
    .image-panel_cta > .cta,
    .image-panel_cta > .cta--secondary {
        padding: 0;
        background-color: transparent;
        line-height: 100%;
        margin: 0;
        min-width: 0;
        border: none;
    }

    .image-panel_cta > .cta:hover,
    .image-panel_cta > .cta--secondary:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
        text-decoration: underline;
    }

    .image-panel_cta > .cta::after {
        content: "|";
        margin: 8px;
    }

    .image-panel--bricked--right > .image-panel:nth-child(2),
    .image-panel--bricked--right > .image-panel:nth-child(3),
    .image-panel--bricked .image-panel:nth-child(n + 2),
    .image-panel--bricked--left .image-panel:nth-child(n + 2) {

    }
}

/*.image-panel,*/
/*.image-panel--2-up,*/
/*.image-panel--2-up--left,*/
/*.image-panel--2-up--right {*/
/*margin-bottom: 18px;*/
/*}*/

.image-panel--2-up,
.image-panel--2-up--spaced,
.image-panel--2-up--left--spaced,
.image-panel--2-up--right--spaced,
.image-panel--2-up--left,
.image-panel--2-up--right,
.image-panel--3-up,
.image-panel--3-up--spaced {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #eaeaea;
}

.image-panel--bricked > .image-panel,
.image-panel--bricked--left > .image-panel {
    -ms-flex-preferred-size: 66.6666%;
    flex-basis: 66.6666%;
}

.image-panel--bricked--spaced,
.image-panel--bricked--left--spaced,
.image-panel--bricked--right--spaced {
    background-color: #eaeaea;
}

/*.image-panel--2-up > .image-panel,*/
/*.image-panel--2-up--left > .image-panel,*/
/*.image-panel--2-up--right > .image-panel {*/
/*margin-bottom: 0;*/
/*}*/

@media screen and (min-width: 768px) {
    .image-panel--bricked--right {

    }

    .image-panel--2-up .image-panel {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .image-panel--2-up--spaced .image-panel {
        -ms-flex-preferred-size: 49.58%;
        flex-basis: 32.58%;
    }

    .image-panel--2-up--left .image-panel:first-child,
    .image-panel--2-up--right .image-panel:nth-child(2) {
        -ms-flex-preferred-size: 66.6666%;
        flex-basis: 66.6666%;
    }

    .image-panel--2-up--left--spaced .image-panel:first-child,
    .image-panel--2-up--right--spaced .image-panel:nth-child(2) {
        -ms-flex-preferred-size: 60.3%;
        flex-basis: 60.3%;
    }

    .image-panel--2-up--left .image-panel:nth-child(2),
    .image-panel--2-up--right .image-panel:first-child {
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    }

    .image-panel--2-up--left--spaced .image-panel:nth-child(2),
    .image-panel--2-up--right--spaced .image-panel:first-child {
        -ms-flex-preferred-size: 38.5%;
        flex-basis: 38.5%;
    }

    .image-panel--bricked > .image-panel:first-child,
    .image-panel--bricked--left > .image-panel:first-child {
        float: left;
        width: 60%;
    }

    .image-panel--bricked--spaced > .image-panel:first-child,
    .image-panel--bricked--left--spaced > .image-panel:first-child {
        float: left;
        width: 59.2%;
        height: 586px;
    }

    .image-panel--bricked:after,
    .image-panel--bricked--left:after,
    .image-panel--bricked--right:after,
    .image-panel--bricked--spaced:after,
    .image-panel--bricked--left--spaced:after,
    .image-panel--bricked--right--spaced:after {
        display: block;
        content: " ";
        clear: both;
        float: none;
    }

    .image-panel--bricked--right > .image-panel:nth-child(2),
    .image-panel--bricked--right > .image-panel:nth-child(3),
    .image-panel--bricked--right--spaced > .image-panel:nth-child(2),
    .image-panel--bricked--right--spaced > .image-panel:nth-child(3){
        float: left;
        height: 275px;
        width: 40%;
    }

    .image-panel--bricked--right--spaced > .image-panel:nth-child(2),
    .image-panel--bricked--right--spaced > .image-panel:nth-child(3) {
        height: 287px;
    }

    .image-panel--bricked--right--spaced > .image-panel:nth-child(3) {
        bottom: -12px;
    }

    .image-panel--bricked .image-panel:nth-child(n + 2),
    .image-panel--bricked--left .image-panel:nth-child(n + 2),
    .image-panel--bricked--spaced .image-panel:nth-child(n + 2),
    .image-panel--bricked--left--spaced .image-panel:nth-child(n + 2){
        float: right;
        height: 275px;
        width: 40%;
    }

    .image-panel--bricked--spaced .image-panel:nth-child(n + 2),
    .image-panel--bricked--left--spaced .image-panel:nth-child(n + 2) {
        height: 287px;
    }

    .image-panel--bricked--spaced .image-panel:last-child,
    .image-panel--bricked--left--spaced .image-panel:last-child {
        bottom: -12px;
    }

    .image-panel--bricked--right .image-panel:first-child,
    .image-panel--bricked--right--spaced .image-panel:first-child {
        float: right;
        width: 60%;
    }

    .image-panel--bricked--right--spaced > .image-panel:first-child {
        height: 586px;
        width: 59.2%;
    }

    .image-panel--2-up--left .image-panel:nth-child(2) > .image-panel_content,
    .image-panel--2-up--right .image-panel:first-child > .image-panel_content {
        width: 100%;
    }

    .image-panel--3-up .image-panel {
        -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
        height: 380px;
    }

    .image-panel--3-up--spaced .image-panel {
        -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%;
        height: 380px;
    }

    .image-panel--3-up .image-panel > .image-panel_content,
    .image-panel--3-up--spaced .image-panel > .image-panel_content {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .image-panel {
        height: 480px;
    }

    .image-panel--bricked .image-panel,
    .image-panel--bricked--left .image-panel,
    .image-panel--bricked--right .image-panel {
        height: 550px;
    }
}

.image-panel::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    content: " ";
    z-index: 0;
    opacity: 0.4;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.image-panel--outer {
    height: auto !important;
}

.image-panel_image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.play-button {
    height: 40px;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


.image-panel_image-container--video:hover .play-button,
.play-button:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.image-panel--outer .image-panel_image-container {
    height: 480px;
}

.image-panel_image-container--video {
    cursor: pointer;
}

.image-panel--outer .image-panel_content {
    position: relative;
}

.image-panel:hover::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    content: " ";
    z-index: 0;
    opacity: 0.2;
}

.image-panel--outer::before {
    opacity: 0.1;
    height: 480px;
}

.image-panel--outer:hover::before {
    opacity: 0.1;
    height: 480px;
}

.image-panel_link {
    position: absolute;
    height: 100%;
    width: 100%;
}

.image-panel:hover .image-panel_image {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
}

.image-panel_image {
    display: block;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

@media screen and (max-width: 480px) {
    .image-panel_image--medium,
    .image-panel_image--large,
    .image-panel_image--xl {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .image-panel_image--large,
    .image-panel_image--xl {
        display: none;
    }

    .image-panel_image--medium {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1360px) {
    .image-panel_image--medium,
    .image-panel_image--xl {
        display: none;
    }

    .image-panel_image--large {
        display: block;
    }
}

@media screen and (min-width: 1361px) {
    .image-panel_image--large,
    .image-panel_image--medium {
        display: none;
    }

    .image-panel_image--xl {
        display: block;
    }
}

.image-panel_content,
.image-panel_content--right,
.image-panel_content--center {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.image-panel_content--right {
    left: auto;
    right: 0;
    text-align: right;
}

.image-panel_content--center {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .image-panel_content,
    .image-panel_content--right,
    .image-panel_content--center {
        padding: 30px 10% 30px 40px;
        background-color: transparent;
    }

    .image-panel--outer .image-panel_content {
        background-color: #fff;
    }
}

.image-panel_title {
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
}

.image-panel--outer .image-panel_title {
    color: black;
}

@media screen and (min-width: 768px) {
    .image-panel_title {
        font-size: 36px;
    }
}

.image-panel_description {
    font-size: 16px;
    font-family: "Open Sans";
    color: white;
}

.image-panel--outer .image-panel_description {
    color: black;
}

.panel_divider {
    background-color: white;
    height: 0.833vw;
}

/**
Content well
*/
.content-well {
    background-color: #fff;
    padding: 46px;
}

.content-well_body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content-well_title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 36px;
    font-family: "Open Sans Condensed";
}

.content-well_description {
    font-size: 16px;
    line-height: 160%;
}

.content-well_description p {
    margin: 8px 0;
}

.content-well_cta-link {
    color: #ed1b23;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    display: inline-block;
    margin-top: 18px;
}

.content-well_cta-link:hover {
    color: black;
}

@media screen and (min-width: 768px) {
    .content-well_body {
        width: 65%;
    }

    .content-well_description,
    .content-well_cta-link {
        font-size: 22px;
    }
}

/**
CTAs
**/
.cta, .cta--secondary, .ff-btn-submit, .woocommerce a.button {
    background-color: #ff0000;
    display: inline-block;
    padding: 12px 32px;
    min-width: 100px;
    text-align: center;
    margin: 12px 8px 12px 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-family: "Open Sans Condensed";
    font-weight: 400;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}

.cta:hover, .cta--secondary:hover, .woocommerce a.button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

a.button:hover {
    color: white !important;
    background-color: #ff0000 !important;
}

.cta--secondary {
    background-color: #eaeaea;
    border: 1px solid #dedede;
}

.cta--secondary {
    color: #ff0000;
}

#dvFastForms .btnDiv {
    text-align: left !important;
}

/**
Content Panel
**/
.content-panel {
    width: 97.5%;
    margin: 0 auto;
    background: white;
    border: 1px solid #dedede;
    padding: 40px 12px 0 12px;
    margin-top: 56px;
}

.content-panel_title {
    text-transform: uppercase;
    color: #25272a;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 18px;
    position: relative;
}

.content-panel_title::after {
    position: absolute;
    content: " ";
    width: calc(100% + 32px);
    height: 2px;
    background-color: #25272a;
    bottom: -10px;
    left: 0;
}

.content-panel_content p {
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 24px;
    margin: 40px 0;
}

.content-panel_content img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}

.content-panel + .image-panel,
.content-panel + .image-panel--2-up,
.content-panel + .image-panel--2-up--left,
.content-panel + .image-panel--2-up--left--spaced,
.content-panel + .image-panel--2-up--right,
.content-panel + .image-panel--2-up--right--spaced,
.content-panel + .image-panel--2-up--spaced,
.content-panel + .image-panel--3-up,
.content-panel + .image-panel--3-up--spaced,
.content-panel + .image-panel--bricked,
.content-panel + .image-panel--bricked--left,
.content-panel + .image-panel--bricked--left--spaced,
.content-panel + .image-panel--bricked--spaced {
    margin-top: 56px;
}


@media screen and (min-width: 1024px) {
    .content-panel {
        padding: 40px 40px 0 40px;
        width: 1024px;
    }

    .content-panel--article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 156px;
    }

    .content-panel--article > div:first-child {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    }

    .content-panel--article > div:last-child {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
}

.template-body {
    margin-top: 55px;
}

@media screen and (min-width: 768px) {
    .template-body {
        margin-top: 87px;
    }
}

body.woocommerce-account .template-body {
    margin-top: 55px;
}

.blog-articles_load-more {
    text-align: center;
}

.content-panel_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
}

.content-panel_next,
.content-panel_previous {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-family: "Open Sans Condensed" !important;
}

.content-panel_navigation-label {
    display: block;
    font-weight: bold;
    font-family: "Open Sans Condensed" !important;
    font-size: 12px;
}

.content-panel_navigation-link {
    font-family: "Open Sans Condensed" !important;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .content-panel_navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .content-panel_next,
    .content-panel_previous {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .content-panel_next {
        text-align: right;
    }

    .content-panel_next {
        border-left: 1px solid #eaeaea;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    list-style: none;
    padding: 0;
}

.footer__nav .menu-item-nolink {
    padding: 0;
    font-family: "Open Sans Condensed";
    font-weight: bold;
}

.footer__nav .menu-item-link {
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
}

.footer__nav .menu-item-link:hover {
    color: rgb(255, 0, 0);
}

.footer__nav .menu-item {
    line-height: 160%;
}

.footer_nav-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__nav .menu-item-0 {
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .footer__nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

.footer__nav .menu-item-0 {
    min-width: 180px;
}

}

.footer__nav .menu-item-0:hover {
    background-color: white;
}

.footer-container {
    background-color: white;
    padding: 40px 0;
}

.content-panel > #whiteboxContent {
    width: 100%;
    padding: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.content-panel > #buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#shop-by-product-type > .panel {
    display: flex;
    justify-content: space-between;
}

#shop-by-product-type > .panel > .suggestion {
    float: none;
    margin: 0;
    flex-basis: 25%;
}

.social-media__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.social-media__share-label {
    font-size: 18px;
    margin-right: 8px;
}

.content-panel_social-media {
    display: flex;
}

/**
Product page hacks
*/
.page-template-template-classic-pro #sidebar,
.page-template-template-accessories #sidebar {
    display: none;
}

.page-template-template-accessories .content-panel,
.page-template-template-classic-pro .content-panel {
    margin-top: 118px;
}

.page-template-template-classic-pro .product-header,
.page-template-template-accessories .product-header {
    display: none !important;
}

#bread-crumb {
    display: none;
}

.page-template-template-classic-pro #buttons,
.page-template-template-accessories #buttons {
    display: none !important;
}

.page-template-template-classic-pro #cp.pro ul.cpe,
.page-template-template-classic-pro #cp.classic ul.cpe {
    background-color: white;
    background-image: none;
    padding: 0;
    margin: 60px 0 0;
    border: 1px solid #d6d6d6;
    border-bottom: none;
}

.page-template-template-classic-pro #cp.pro ul.cpe li,
.page-template-template-classic-pro #cp.classic ul.cpe li {
    width: 50% !important;
    padding: 15px 0 !important;
    left: 0 !important;
}

.page-template-template-classic-pro #cp.pro ul.cpe li.classic {
    background-color: #eaeaea;
    box-shadow: -5px -5px 8px -8px #000 inset;
}

.page-template-template-classic-pro #cp.classic ul.cpe li.pro {
    background-color: #eaeaea;
    box-shadow: 5px -5px 8px -8px #000 inset;
}

.page-template-template-classic-pro #rightbar,
.page-template-template-accessories #rightbar{
     position: static;
     bottom: 0;
     display: block;
     width: 100%;
     float: none;
     padding-top: 0px;
     margin-top: 118px;
    width: 100%;
}

.page-template-template-accessories .content-panel + #content > #rightbar,
.page-template-template-classic-pro .content-panel + #content > #rightbar  {
    margin-top: 0px;
}

.page-template-template-classic-pro #cp {
    width: 100%;
    position: static;
}

.page-template-template-classic-pro #whiteboxContent,
.page-template-template-accessories #whiteboxContent {
    width: 100%;
    border-radius: 0 !important;
}

.page-template-template-classic-pro .best-value {
    display: none !important;
}

.page-template-template-classic-pro #pro-tooltip {
    position: absolute;
    left: 170px;
    top: -25px;
    z-index: 10000;
}

.page-template-template-classic-pro #classic-tooltip {
    position: absolute;
    left: 525px;
    top: -25px;
    z-index: 10000;
}

.page-template-template-classic-pro #whiteboxContent + #whiteboxContent,
.page-template-template-accessories #whiteboxContent + #whiteboxContent {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .page-template-template-classic-pro #content,
    .page-template-template-accessories #content {
        width: 1024px;
         position: static;
         clear: both;
        margin: 0 auto !important;
         float: none;
         margin-top: 0;
    }
}

/**
Fast forms
*/
.footnoteDiv {
    display: none !important;
}

.requiredSpan {
    color: rgba(93, 95, 96, 0.4) !important;
}

.ff-label {
    color: #636363 !important;
    font-weight: bold !important;
}

.ff-item-row {
    display: flex;
    padding-top: 0;
    position: relative;
}

.ff-label-col {
    padding-left: 8px !important;
}

.ff-field-col {
    width: 100% !important;
}

.ff-select-type {
    border: none;
    outline: none;
}

.ff-page-row  > .ff-group-row:first-child  > .ff-item-row:first-child {
    display: none;
}

.requiredSpan::before {
    display: block;
    content: "required";
    position: absolute;
    right: 10px;
    top: 39.3%;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(93, 95, 96, 0.4);
    font-weight: bold;
    /* opacity: 0.2; */
}

.product-grid {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 40px;
}

.product-grid-item {
    margin-bottom: 32px;
    text-align: center;
    width: 50%;
}


@media screen and (min-width: 768px) {
    .product-grid-item{
        width: 25%;
    }
}

.product-grid-item__cta, .button.add_to_cart_button {
    margin: 0;
}

.product-grid-item__thumbnail {
    width: 100%;
}

.product-grid-item__name {
    margin: 12px 0;
}

.product-grid__view-all {
    color: #ff0000;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    margin: 0 0 24px;
    text-align: right;
}

h1, h2 {
    margin-left: 12px;
}

.column-section--2-up,
.column-section--3-up {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.column-section--2-up .column-section__column {
    width: 48%;
}

.column-section--3-up .column-section__column {
    width: 31%;
}

div[id^="comm100-float-button"] {
    display: none !important;
}

.product-type-composite .woocommerce-product-gallery {
    display: none;
}

.related.products {
    clear: both;
}

.product-type-composite .entry-summary {
    width: 100% !important;
}

.product-type-composite .composited_product_details_wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .product-type-composite .composited_product_details_wrapper {
        flex-direction: row;
    }
}

.product-type-composite .composited_product_images.images {
    float: none !important;
    flex-basis: 33%;
}

.product-type-composite .component .composited_product_details_wrapper {
    padding-left: 0;
}

.product-type-composite .composited_product_images.images {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: auto;
    margin-top: 89px;
}